body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fbf8cc;
}
nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.links {
  text-decoration: none;
  color: #03045e;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  padding: 6px;
  font-size: larger;
  transition: background-color 0.5s, box-shadow 0.5s, border-radius 0.5s,
    cursor 0.5s;
  border-radius: 10px;
  display: inline-block;
  border: none;
}
.links:hover {
  background-color: #f5ee84;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
nav ul li img {
  width: 20px;
  height: 20px;
  margin: 20px;
}
nav ul li img:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.name {
  margin-left: 20px;
  color: #03045e;
  font-family: "Poppins", sans-serif;
  padding-left: 55px;
}
.select {
  text-decoration: none;
  color: #03045e;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  padding: 6px;
  font-size: larger;
  background-color: #f5ee84;
  border-radius: 10px;
  display: inline-block;
  border: none;
}
.backImage {
  width: 50px;
  margin-left: 50px;
  margin-top: 20px;
  opacity: 0.8;
}
.title {
  color: #f7f197;
  font-weight: 800;
  font-size: x-large;

  margin-left: 100px;
}
.about {
  text-decoration: none;
  color: #03045e;
  font-family: "Poppins", sans-serif;
  margin: 10px;

  margin-left: 100px;
  margin-right: 100px;
  font-size: large;
}
